
var startX = 0

var bindtouchstart = function (e, instance) {
  var dataset = e.instance.getDataset()
  var st = e.instance.getState()
  startX = e.changedTouches[0].pageX


}
var bindtouchend = function (e, instance) {
  var dataset = e.instance.getDataset()
  var st = e.instance.getState()
  var move = startX - e.changedTouches[0].pageX

  if (move > 70) {
    e.instance.setStyle({
      left: '-300' + 'rpx',
      overflow: 'visible !important'
    })
  } else if (move < -70) {
    e.instance.setStyle({
      left: '0' + 'rpx',
      overflow: 'hidden'
    })
  }

}

var cloCard = function (e, instance) {
  console.log(JSON.stringify(e), 'bindtouchstart，携带值为2')
  var dataset = e.instance.getDataset()
  var ComputedStyle = e.instance.getComputedStyle
  var st = e.instance.getState()
  e.instance.setStyle({
    left: '0' + 'rpx',
    overflow: 'hidden'
  })
}

module.exports = {
  touchstart: bindtouchstart,
  touchend: bindtouchend,
  cloCard: cloCard
} 
